{% extends "base.html" %}

{% block head %}
<title>Sign up page</title>
<style>
    body {
        background-color: white;
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .circle {
        position: absolute;
        width: 1000px;
        height: 1000px;
        background-color: #fce942;
        /* Pale yellow color */
        border-radius: 50%;
        top: 10%;
        left: 90%;
        transform: translate(-50%, -50%);
    }

    .btn-custom {
        background-color: #e8d633;
        /* Pale yellow color */
        border: none;
        color: black;
        width: 200px;
        padding: 15px;
        margin-top: 10px;
    }

    .btn-custom:hover {
        background-color: #FFEFD5;
        /* Lightening the color on hover */
    }

    .container-custom {
        z-index: 1;
    }
</style>
{% endblock %}

{% block body %}
<div class="circle"></div>
<div class="container container-custom">
    <h1>Sign in page</h1>
    <form action="#" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Sign in">
    </form>
</div>
<script>
    document.body.style.overflow = 'hidden';
</script>
{% endblock %}